<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <link rel="stylesheet" href="/static/styling.css">
</head>
<body>
    <header>
        <div class="dark-mode-toggle-container">
            <label class="switch">
                <input type="checkbox" id="dark-mode-toggle">
                <span class="slider round"></span>
            </label>
            <span class="dark-mode-label">Dark Mode</span>
        </div>
    </header>
    <div class="container">
        <h1>AI Mental Health Chatbot</h1>
        <div class="chat-container"></div>
        <div class="msger-inputarea">
            <input type="text" id="message-input" class="msger-input" placeholder="Type your message...">
            <button id="send-button" class="msger-send-btn">Send</button>
        </div>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>
